In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Make a reference to the books.csv file path
bookSheet = "Resources/books.csv"
# Import the books.csv file as a DataFrame
bookDF = pd.read_csv(bookSheet, encoding="UTF-8")

In [3]:
# Remove unecessary columns from the DataFrame and save the new DataFrame

# Only keep: "isbn", "original_publication_year", "original_title", "authors",
# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"

bookDF = bookDF[["isbn", "original_publication_year", "original_title", "authors", "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"]]

In [4]:
# Rename the headers to be more explanatory
namedBookDF = bookDF.rename(columns={"isbn": "ISBN Number", "original_publication_year": "Publication Year", "original_title": "Title", "authors": "Author(s)", "ratings_1": "Rating 1", "ratings_2": "Rating 2", "ratings_3": "Rating 3", "ratings_4": "Rating 4", "ratings_5": "Rating 5"})

namedBookDF.head()

,ISBN Number,Publication Year,Title,Author(s),Rating 1,Rating 2,Rating 3,Rating 4,Rating 5
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [5]:
authors = namedBookDF["Author(s)"].unique()
authors

array(['Suzanne Collins', 'J.K. Rowling, Mary GrandPré',
       'Stephenie Meyer', ..., 'Ian Mortimer', 'Peggy Orenstein',
       'John Keegan'], dtype=object)

In [7]:
namedBookDF = namedBookDF.sort_values(by='Publication Year', ascending=False)
namedBookDF.head()

,ISBN Number,Publication Year,Title,Author(s),Rating 1,Rating 2,Rating 3,Rating 4,Rating 5
7372,1408857901,2017.0,A Court of Wings and Ruin,Sarah J. Maas,463,1289,5123,15585,46370
9391,812995341,2017.0,Lincoln in the Bardo,George Saunders,996,1809,4186,7887,9135
7559,1250095255,2017.0,Caraval,Stephanie Garber,831,2531,7001,12105,13353
5883,NaN,2017.0,Norse Mythology,Neil Gaiman,179,974,6943,17019,14135
8684,125011117X,2017.0,Behind Her Eyes,Sarah Pinborough,658,1876,5082,8228,5769

In [ ]:
totalReviews = len(namedBookDF) * 5
totalReviews

In [ ]:
# Push the remade DataFrame to a new CSV file
namedBookDF.to_csv("Output/namedBookDF.csv", index=False, header=True)