In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# File to load
pokemonSheet = "Resources/Pokemon.csv"

In [3]:
# Read with Pandas
pokemonDF = pd.read_csv(pokemonSheet, encoding="UTF-8")
pokemonDF.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
# Extract the following columns: "Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", and "Speed"

statDF = pokemonDF.loc[:, ["Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", "Speed"]]

statDF.head(30)

    Type 1  HP  Attack  Sp. Atk  Sp. Def  Speed
0    Grass  45      49       65       65     45
1    Grass  60      62       80       80     60
2    Grass  80      82      100      100     80
3    Grass  80     100      122      120     80
4     Fire  39      52       60       50     65
5     Fire  58      64       80       65     80
6     Fire  78      84      109       85    100
7     Fire  78     130      130       85    100
8     Fire  78     104      159      115    100
9    Water  44      48       50       64     43
10   Water  59      63       65       80     58
11   Water  79      83       85      105     78
12   Water  79     103      135      115     78
13     Bug  45      30       20       20     45
14     Bug  50      20       25       25     30
15     Bug  60      45       90       80     70
16     Bug  40      35       20       20     50
17     Bug  45      25       25       25     35
18     Bug  65      90       45       80     75
19     Bug  65     150       15       80    145
20  Normal  40      45       35       35     56
21  Normal  63      60       50       50     71
22  Normal  83      80       70       70    101
23  Normal  83      80      135       80    121
24  Normal  30      56       25       35     72
25  Normal  55      81       50       70     97
26  Normal  40      60       31       31     70
27  Normal  65      90       61       61    100
28  Poison  35      60       40       54     55
29  Poison  60      85       65       79     80

In [ ]:
# Create a dataframe of the average stats for each type of pokemon.
groupedStatsDF = statDF.groupby('Type 1')
#groupedStatsDF.head()
counts = groupedStatsDF['Type 1'].value_counts()

In [ ]:
avgDF = groupedStatsDF["HP", "Attack", "Sp. Atk", "Sp. Def", "Speed" ].sum()
avgDF.head()

In [ ]:
groupedStatsDF

In [ ]:
# Bonus: Sort the table by strongest type and export the resulting table to a new CSV.