In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Reference the file where the CSV is located
crimeSheet = "Resources/crime_incident_data2017.csv"
# Import the data into a Pandas DataFrame
crimeDF = pd.read_csv(crimeSheet, encoding="UTF-8")
crimeDF.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,NaN,17-X4762181,Person,NaN,1,1/1/96,1/1/96,800,Sex Offenses,1,Rape,NaN,NaN,NaN,NaN,1/26/17,1/1/17
1,NaN,17-X4757824,Property,Centennial,1,1/20/00,1/1/00,1615,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/20/17,1/1/17
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
3,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/5/17,1/1/17
4,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Larceny Offenses,1,All Other Larceny,NaN,NaN,NaN,NaN,1/5/17,1/1/17

In [3]:
# look for missing values
crimeDF.count()

Address              37365
Case Number          41032
Crime Against        41032
Neighborhood         39712
Number of Records    41032
Occur Date           41032
Occur Month Year     41032
Occur Time           41032
Offense Category     41032
Offense Count        41032
Offense Type         41032
Open Data Lat        36712
Open Data Lon        36712
Open Data X          36712
Open Data Y          36712
Report Date          41032
Report Month Year    41032
dtype: int64

In [4]:
# drop null rows
crimeDF = crimeDF.dropna(how='any')

In [5]:
# verify counts
crimeDF.count()

Address              36146
Case Number          36146
Crime Against        36146
Neighborhood         36146
Number of Records    36146
Occur Date           36146
Occur Month Year     36146
Occur Time           36146
Offense Category     36146
Offense Count        36146
Offense Type         36146
Open Data Lat        36146
Open Data Lon        36146
Open Data X          36146
Open Data Y          36146
Report Date          36146
Report Month Year    36146
dtype: int64

In [6]:
# Check to see if there are any values with mispelled or similar values in "Offense Type"
crimeDF['Offense Type'].value_counts()

Theft From Motor Vehicle                       6947
Motor Vehicle Theft                            4689
All Other Larceny                              4558
Vandalism                                      3863
Burglary                                       2824
Shoplifting                                    2259
Identity Theft                                 1794
Simple Assault                                 1216
Drug/Narcotic Violations                       1095
Theft of Motor Vehicle Parts or Accessories    1073
Intimidation                                    900
Theft From Building                             895
False Pretenses/Swindle/Confidence Game         870
Aggravated Assault                              839
Robbery                                         608
Counterfeiting/Forgery                          448
Weapons Law Violations                          266
Credit Card/ATM Fraud                           226
Arson                                           200
Prostitution                                    145
Pocket-Picking                                   94
Purse-Snatching                                  89
Embezzlement                                     73
Stolen Property Offenses                         57
Kidnapping/Abduction                             22
Theft From Coin-Operated Machine or Device       20
Hacking/Computer Invasion                        19
Animal Cruelty                                   17
Pornography/Obscene Material                     10
Extortion/Blackmail                               8
Assisting or Promoting Prostitution               7
Drug Equipment Violations                         6
Impersonation                                     4
Wire Fraud                                        3
Commercial Sex Acts                               1
Welfare Fraud                                     1
Name: Offense Type, dtype: int64

In [7]:
# Combine similar offenses
crimeDF['Offense Type'] = crimeDF['Offense Type'].replace(
    {'Prostitution': 'Comerical Sex Acts', 'Assisting or Promoting Prostitution': 'Comerical Sex Acts'})
crimeDF['Offense Type'].value_counts()

Theft From Motor Vehicle                       6947
Motor Vehicle Theft                            4689
All Other Larceny                              4558
Vandalism                                      3863
Burglary                                       2824
Shoplifting                                    2259
Identity Theft                                 1794
Simple Assault                                 1216
Drug/Narcotic Violations                       1095
Theft of Motor Vehicle Parts or Accessories    1073
Intimidation                                    900
Theft From Building                             895
False Pretenses/Swindle/Confidence Game         870
Aggravated Assault                              839
Robbery                                         608
Counterfeiting/Forgery                          448
Weapons Law Violations                          266
Credit Card/ATM Fraud                           226
Arson                                           200
Comerical Sex Acts                              152
Pocket-Picking                                   94
Purse-Snatching                                  89
Embezzlement                                     73
Stolen Property Offenses                         57
Kidnapping/Abduction                             22
Theft From Coin-Operated Machine or Device       20
Hacking/Computer Invasion                        19
Animal Cruelty                                   17
Pornography/Obscene Material                     10
Extortion/Blackmail                               8
Drug Equipment Violations                         6
Impersonation                                     4
Wire Fraud                                        3
Commercial Sex Acts                               1
Welfare Fraud                                     1
Name: Offense Type, dtype: int64

In [8]:
# Create a new DataFrame that looks into a specific neighborhood

southwestHills = crimeDF.loc[crimeDF['Neighborhood']=='Southwest Hills',:]
print(southwestHills.head())

#lowCount = imdbSheet.loc[imdbSheet["IMDB_user_vote_count"] < 20000 , :]
#>is_2002 =  gapminder['year']==2002
#>print(is_2002.head())

#>gapminder_2002 = gapminder[is_2002]
#>print(gapminder_2002.shape)

                             Address Case Number Crime Against  \
1457  1700 BLOCK OF SW MONTGOMERY DR     17-8280      Property
1598  2300 BLOCK OF SW SHEFFIELD AVE   17-900409      Property
1971     800 BLOCK OF SW BROADWAY DR   17-900541      Property
2609   1700 BLOCK OF SW ELIZABETH ST   17-900744      Property
3576      1800 BLOCK OF SW LAUREL ST   17-901067      Property

         Neighborhood  Number of Records Occur Date Occur Month Year  \
1457  Southwest Hills                  1     1/6/17           1/1/17
1598  Southwest Hills                  1     1/9/17           1/1/17
1971  Southwest Hills                  1    1/13/17           1/1/17
2609  Southwest Hills                  1    1/19/17           1/1/17
3576  Southwest Hills                  1    1/25/17           1/1/17

      Occur Time  Offense Category  Offense Count              Offense Type  \
1457         800  Larceny Offenses              1       Theft From Building
1598         215  Larceny Offenses              1  Theft From Motor Vehicle
1971           5    Fraud Offenses              1            Identity Theft
2609        1030  Larceny Offenses              1         All Other Larceny
3576        1900  Larceny Offenses              1  Theft From Motor Vehicle

      Open Data Lat  Open Data Lon  Open Data X  Open Data Y Report Date  \
1457        45.5162       -122.697    7638906.0     681958.0      1/9/17
1598        45.5062       -122.686    7641666.0     678234.0     1/10/17
1971        45.5038       -122.687    7641515.0     677361.0     1/14/17
2609        45.5081       -122.697    7638894.0     678986.0     1/19/17
3576        45.5102       -122.697    7638938.0     679775.0     1/26/17

     Report Month Year
1457            1/1/17
1598            1/1/17
1971            1/1/17
2609            1/1/17
3576            1/1/17

In [15]:
southwestHillsDF = crimeDF[southwestHills]
pd.DataFrame(southHillsDF)
#print(pd.southwestHillsDF.dtype)

ValueError: Must pass DataFrame with boolean values only